.audio-controls {
	display: inline-block;
}

.audio-controls .control {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	transition: opacity .3s;
}

.audio-controls .control:hover {
	opacity: .8;
}
.audio-controls .fa {
	font-size: 1.5em;
}

.audio-controls .play {
	width: 3em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 100%;
	border: 2px solid #fff;
	margin: 0 1em;
}

.audio-controls .play .fa-play {
	margin-left: 8%;
}
.track-info {
	display: inline-block;

}

.track-info li {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin-left: 1em;
}
.navbar {
	color: #fff;
	height: 4em;
	line-height: 4em;
}

.navbar a {
	color: #fff;
}
/*
.progressbar {
	background-color: #333;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;

}

.progressbar-inner {
	width: 40%;
	height: 4px;
	background-color: #fff;
	border-radius: 2px;
	display: inline-block;
}
.circle {
	display: inline-block;
	width: 180px;
	height: 180px;
	border: 8px solid #000;
	border-radius: 100%;
	margin: 1em;
	text-align: center;
}
*/
